/* ================================================
ICONS
=================================================== */
.button-icon .fab.fa-facebook-f {
    position: absolute;
    top: 10px;
    left: 20px;
}

.button-icon .fab.fa-google {
    position: absolute;
    top: 10px;
    left: 20px;
}